<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Doc</title>
</head>
<body>
    <div>
        <img id = "profilePic">
        <h1 id = "userName"></h1>
        <h3 id = "desc"></h3>
        <p id = "location"></p>
        <p id = "githubProf"></p>
        <p id = "blog"></p>
    </div>
    <div>
        <div>
            <h4>Public Repositories</h4>
            <h2 id = "repos"></h2>
        </div>
        <div>
            <h4>Followers</h4>
            <h2 id = "followers"></h2>
        </div>
        <div>
            <h4>Github Stars</h4>
            <h2 id = "stars"></h2>
        </div>
        <div>
            <h4>People I follow</h4>
            <h2 id = "following"></h2>
        </div>
    </div>
</body>
</html>